


.navbar-home {
  padding: 15px;
  background-color: red;
}

.btn-blur {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.card:hover {
  transform: scale(1.05);
}

.fs-7 {
  font-size: 12px !important;
}

.scroll-card {
  overflow-x: scroll !important;
}